/***** Global *****/
html, body {
  margin: 0px;
  padding: 0px;
  background-color: #ebe8dd;
  overflow: hidden;
}

.text {
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px;
  margin: 10px;
}

.btn  {
  border: none;
  color: black;
  background: none;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0px;
}

.heading {
  font-size: 26px;
  margin-top: 2%;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.subheading {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 0px;
}

/***** Filters *****/
.filterBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  padding: 10px;
}

.filtersSection {
  display: none;
  transition: transform 500ms ease-out;
  transform: translateX(100%);
  display: block;
  background-color: #ebe8dd;
  width: 30%;
  position: absolute;
  z-index: 2;
  border: 2px solid white;
  height: 99vh;
  top: 0;
  right: 0;
  transition: all 250ms ease-in-out;
}

.filters {
  margin-top: 15%;
  margin-left: 2%;
}

.filterWrapper {
  margin-top: 10%;
}

.openFilter + div {
  display: none;
}

.openFilter.open + div {
  display: block;
}

input {
  font-size: 18px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #ebe8dd;
}

input.minPrice, input.maxPrice {
  width: 100px;
}

.popover {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.option {
  cursor: pointer;
  margin: 0px;
  padding: 10px;
  background-color: #ebe8dd;
}

.option.selected, .option:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

.sectionBtns {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

.clearBtn, .applyBtn {
  border: 1px solid white;
  padding: 15px 22px;
  border-radius: 5px;
}

.clearBtn:hover, .applyBtn:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

/***** Carousel *****/
.carouselSection {
  display: block;
  margin: auto;
  width: 100%;
}

.products {
  display: flex;
  height: 70vh;
  overflow-x: scroll;
}

.productContainer {
  display: block;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  cursor: pointer;
  max-width: 30%;
}

.productName, .productPrice {
  max-width: 80%;
  margin: auto;
}

.productPrice {
  margin-top: 10px;
}

.arrow {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
}

.leftArrow, .rightArrow {
  display: flex;
  z-index: 1;
  position: absolute;
  top: 50vh;
}

.leftArrow {
  left: 5px;
}

.rightArrow {
  right: 5px;
}

.topArrow, .bottomArrow {
  display: none;
}

.productImg {
  transform: scale(0.8);
  border: 1px solid white;
}

.errorMsg {
  display: none;
  font-size: 40px;
  text-align: center;
  max-width: 70%;
  margin: auto;
  margin-top: 20vh;
}

/****** Pop up ******/
.overlay {
  display: none;
  width: 60vw;
  height: 80vh;
  background: #ebe8dd;
  border-radius: 5px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  margin: auto;
  padding: none;
  border: 1px solid white;
}

.exit {
  color: black;
  font-size: 36px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}

.mainPopUpContents {
  display: flex;
  justify-content: space-around;
}

.overlayImg {
  transform: scale(1);
  margin-top: 10vh;
  width: auto;
  border: 1px solid white;
}

.linkBtn {
  color: #ff759c;
}

.productLink {
  color: black;
  font-size: 14px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid white;
  border-radius: 5px;
  max-height: 40px;
  padding: 10px 30px;
  margin-top: 30vh;
  display: inline-flex;
  align-items: center;
}

.productLink:hover {
  color: black;
  background-color: rgba(250, 250, 250, 0.5);
}

/***** Mobile *****/
@media (max-width: 720px) {
  .heading {
    font-size: 28px;
  }

  .subheading {
    font-size: 18px;
  }

  /* Filters */
  .filtersSection {
    width: 100%;
  }

  /* Carousel */
  .productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .products {
    height: 70vh;
    overflow-y: scroll;
    display: block;
  }

  .productName {
    text-align: center;
    width: 50vw;
  }

  .arrow {
    scroll-behavior: smooth;
  }

  .leftArrow, .rightArrow {
    display: none;
  }

  .topArrow, .bottomArrow {
    display: flex;
  }

  /* Popup */
  .overlay {
    width: 85vw;
    height: 90vh;
  }

  .mainPopUpContents {
    flex-wrap: wrap;
  }

  .productLink {
    margin-top: 5vh;
  }
}
